# Intro to Programming - Individual challenge

**Pedro Corte Garcia | João Fonseca** 

October 9th, 2018, Fall semester 

Due date and time: 09/10/2018 11H40

Rules for this challenge:
1. You are not allowed to talk, exchange ideas or have any type of communication with your colleagues during the challenge
2. You can (and should) use the internet to help you when you don't know something. But be carefull not to dwell in it...
3. You have only 2 help cards to use with the teachers. If you finish the challenge with the 2 help cards you have a bonus of 10% in your grade. If you reach with 1 help card, you have a 5% bonus in your grade. If you finish with 0 help cards, you get nothing. Be intelligent and look carefully in the internet before calling us!
4. The exam will be finished by 12h30 and must be submitted for us before 12h40. (ver aqui cm vamos fazer)

Material for the exam:
1. Link for the dataset file <a href='https://moodle.novasbe.pt/pluginfile.php/214958/mod_resource/content/1/pokemon_midterm.csv'>data set</a>. You should download the csv to the same folder where you have the notebook for the challenge.

___
## Part 1 - Pirates of the Caribbean

The following exercises are not linked among each other. They are meant to test your skills using generalistic Python tools.
___

### 1.1. There are many (simple) syntax errors in the following cell. Fix them. (0.5/20)
**Tip:** Read the Tracebacks very carefully! These are common errors and are all simple to fix.

In [9]:
characters = {'Jack Sparrow': 'Arrr!',
              'Elizabeth Swann': 'She invokes the right of parley', 
              'Captain Barbossa':'Arrr!', 
              'James Norrington':'Jack Sparrow is the worst pirate he\'s ever heard of'}

# let's make a pirate detector
for person in characters:
    greeting = characters[person]
    if greeting =="Arrr!":
        print(person,'is a pirate! He said',greeting,' shoo!')
    else:
        print(person,'is not pirate, how nice! Also said that',greeting)

Jack Sparrow is a pirate! He said Arrr!  shoo!
Elizabeth Swann is not pirate, how nice! Also said that She invokes the right of parley
Captain Barbossa is a pirate! He said Arrr!  shoo!
James Norrington is not pirate, how nice! Also said that Jack Sparrow is the worst pirate he's ever heard of

### 1.2. Define a function named "factorial" (1.5 (0.5 each) /20):
In mathematics, the factorial of an integer n, denoted by n! is the following product:
* n!=1×2×…×n
For the given integer n calculate the value n!. 

You are **not** allowed to use the ***math*** module in this exercise.

___
- The function must calculate the factorial of a variable "n"
- Create a new variable "sparrow_count" containing the number of characters present in the string "Jack Sparrow"
- Demonstrate the functioning of the function by running factorial(sparrow_count)

In [27]:
# Define a function named "factorial". The function must calculate the factorial of a variable "n".

def factorial(n):
    out = 1
    while n > 1:
        out *= n
        n -= 1
    return(out)

# Create a new variable "sparrow_count" containing the number of characters present in the string "Jack Sparrow" (space counts has a character)r)

sparrow_count = len("Jack Sparrow")

# Demonstrate the functioning of the function by running factorial(sparrow_count)

factorial(sparrow_count)

479001600

### 1.3. Dictionary operations (3 (0.5 each) /20):
**The dictionary you will be using for this exercise is already provided in the input cell.**
- Create a function to check if a key is in the dictionary (i.e., if a key with such name exists).
- Use the function to check if there is a key labelled "Elizabeth Swann" and a key labelled "Jack Sparrow".
- Add to the dictionary the following items: **Tia Dalma (Calipso): sorceress** and **Elizabeth Swann: pirate**.
- Run a loop to count the number of pirates in the dictionary print "There are ... pirates in this dictionary!".
- In the same loop, add to a list the names of these pirates and print it.
- Remove Jack the monkey from the dictionary and print it (the dictionary).

In [29]:
characters_caribbean = {'Jack Sparrow': 'pirate', 
                        'Hector Barbossa': 'pirate', 
                        'Joshamee Gibbs': 'pirate', 
                        'Will Turner': 'pirate', 
                        'Bootstrap Bill': 'pirate', 
                        'James Norrington': 'admiral of the east india trading company war fleet',
                        'Davy Jones': 'pirate',
                        'Cutler Beckett': 'East India Trading Co. chairman',
                        'Jack the monkey': 'monkey'
                       }

# Create a function to check if a key is in the dictionary (i.e., if a key with such name exists):
def CheckIn(dict_in, key_in):
    return(key_in in dict_in.keys())

# Use the function to check if there is a key labelled "Elizabeth Swann" and a key labelled "Jack Sparrow".
for i in ["Elizabeth Swann", "Jack Sparrow"]: print(CheckIn(characters_caribbean, i))

# Add to the dictionary the following items: Tia Dalma (Calipso): sorceress and Elizabeth Swann: pirate.


# Run a loop to count the number of pirates in the dictionary print "There are ... pirates in this dictionary!".

# In the same loop, add to a list the names of these pirates and print it.

# Remove Jack the monkey from the dictionary and print it (the dictionary).

False
True

___
## Part 2 - Pokemon
___

### 2.1. Start by importing the missing library: Pandas. (0.5/20)

In [7]:
# import Pandas in the same way we did in class, in the line below.

import matplotlib.pyplot as plt # plt.show() will present in the notebook without displaying the object identifier
from random import randint

### 2.2. Start by listing all files in your current directory and stating your working directory. (0.5/20)
**Use terminal commands to do this**

### 2.3. Create a variable (name it "file_name") for the user to input the csv file name that he/she wants to use. Run the cell and enter the csv file "pokemon.csv" provided (0.5/20)

### 2.4. Use Pandas to read the csv file typed in the previous variable. Name it "df_pokemon". Display the first 5 rows of the table (0.5/20)

### 2.5. How many rows and columns are there in this dataset? (1/20)
**You must use the appropriate command to do this. Manual count or retrieving the last index value does not answer this question.**



- Use the command print to display the following message:

"The number of rows is < replace by number of rows > and the number of columns is < replace by number of columns >"

### 2.6. Create a scatter plot having in the x-axis the column "Defense" and in the y-axis the column "Attack". (1/20)

### 2.7. Rename the column "Student Number" to "nbr". (1/20)

### 2.8. Remove from the table all the Legendary Pokemon. Use the column "Legendary". (1/20)

### 2.9. Select only the rows with a student number. Replace the old dataframe with the one after the query (2/20)

**Note: If you are not able to execute this exercise successfully, please use the alternative dataset in moodle**

### 2.10. Create a new column called "group". They must have default value None in all rows (1/20)

### 2.11. Create column "Total" where every row has the sum of HP, Attack, Defense and Speed Columns.(1/20)

### 2.12. Create a function called "groupInfo" that will give us the details about the formation of a group. The function should have as inputs the dataset and number of elements for each group. (2/20)
The function must print: 
1. The total number of elements in the dataset 
2. The number of groups created with the number of elements set for each group in the input 
3. if we have remaining elements without group, we must say how many are they. 
Ex:
If we insert as inputs df_pokemon (assuming this dataset has 22 elements) and 3, we should get:

<br>The dataset has 22 elements.
<br>We can create 7 groups of 3 elements.
<br>We have 1 remaining elements.

ATTENTION: Values may change depending on dataset size

### 2.13. Create a function called createGroups that receives a dataset and the n_elements for group formation. (3/20)
Rules to create groups:
1. Use the df_pokemon dataset
2. the number of elements in each group is set by n_elements (x valores)
3. if the number of students is not enough to create a final group, the remaining students must be put in a random selected group (x valores)