In [1]:
using FredData

In [3]:
f = Fred();

API key loaded.

In [4]:
a = get_data(f, "GDPC1")

FredSeries
	id: GDPC1
	title: Real Gross Domestic Product
	units: Billions of Chained 2012 Dollars
	seas_adj (native): Seasonally Adjusted Annual Rate
	freq (native): Quarterly
	realtime_start: 2018-09-03
	realtime_end: 2018-09-03
	last_updated: 2018-08-29T07:51:02
	notes: BEA Account Code: A191RX Real gross domestic product is the inflation adjusted value of the goods and services produced by labor and property located in the United States.For more information see the Guide to the National Income and Product Accounts of the United States (NIPA) - (http://www.bea.gov/national/pdf/nipaguid.pdf)
	trans_short: lin
	data: 286x4 DataFrame with columns Symbol[:realtime_start, :realtime_end, :date, :value]

In [7]:
a.data

286×4 DataFrames.DataFrame
│ Row │ realtime_start │ realtime_end │ date       │ value   │
├─────┼────────────────┼──────────────┼────────────┼─────────┤
│ 1   │ 2018-09-03     │ 2018-09-03   │ 1947-01-01 │ 2033.06 │
│ 2   │ 2018-09-03     │ 2018-09-03   │ 1947-04-01 │ 2027.64 │
│ 3   │ 2018-09-03     │ 2018-09-03   │ 1947-07-01 │ 2023.45 │
│ 4   │ 2018-09-03     │ 2018-09-03   │ 1947-10-01 │ 2055.1  │
│ 5   │ 2018-09-03     │ 2018-09-03   │ 1948-01-01 │ 2086.02 │
│ 6   │ 2018-09-03     │ 2018-09-03   │ 1948-04-01 │ 2120.45 │
│ 7   │ 2018-09-03     │ 2018-09-03   │ 1948-07-01 │ 2132.6  │
│ 8   │ 2018-09-03     │ 2018-09-03   │ 1948-10-01 │ 2134.98 │
│ 9   │ 2018-09-03     │ 2018-09-03   │ 1949-01-01 │ 2105.56 │
│ 10  │ 2018-09-03     │ 2018-09-03   │ 1949-04-01 │ 2098.38 │
│ 11  │ 2018-09-03     │ 2018-09-03   │ 1949-07-01 │ 2120.04 │
⋮
│ 275 │ 2018-09-03     │ 2018-09-03   │ 2015-07-01 │ 17438.8 │
│ 276 │ 2018-09-03     │ 2018-09-03   │ 2015-10-01 │ 17456.2 │
│ 277 │ 2018-09-03     │ 2018-09-03   │ 2016-01-01 │ 17523.4 │
│ 278 │ 2018-09-03     │ 2018-09-03   │ 2016-04-01 │ 17622.5 │
│ 279 │ 2018-09-03     │ 2018-09-03   │ 2016-07-01 │ 17706.7 │
│ 280 │ 2018-09-03     │ 2018-09-03   │ 2016-10-01 │ 17784.2 │
│ 281 │ 2018-09-03     │ 2018-09-03   │ 2017-01-01 │ 17863.0 │
│ 282 │ 2018-09-03     │ 2018-09-03   │ 2017-04-01 │ 17995.2 │
│ 283 │ 2018-09-03     │ 2018-09-03   │ 2017-07-01 │ 18120.8 │
│ 284 │ 2018-09-03     │ 2018-09-03   │ 2017-10-01 │ 18223.8 │
│ 285 │ 2018-09-03     │ 2018-09-03   │ 2018-01-01 │ 18324.0 │
│ 286 │ 2018-09-03     │ 2018-09-03   │ 2018-04-01 │ 18514.6 │