In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('max_colwidth', 100)

<br>

# Data

In [2]:
path = "./data/csvs/"
!sed -i "s/://g" ./data/csvs/*

>## Quarterly

In [3]:
namq_10_gdp = pd.read_csv("data/csvs/namq_10_gdp_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna() # GDP and main components
namq_10_fcs = pd.read_csv("data/csvs/namq_10_fcs_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna() # Final consumption aggregates

In [8]:
for df in [namq_10_gdp, namq_10_fcs]:
    df["ID"] = df["TIME"]+df["GEO"]
    df.Value = df.Value.replace(regex=r'[,]+', value='').astype(np.float)

>## Monthly

In [23]:
ei_bssi_m_r2 = pd.read_csv("data/csvs/ei_bssi_m_r2_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna() # Sentiment indicators - monthly data

In [26]:
ei_bssi_q_r2 = pd.DataFrame(columns=ei_bssi_m_r2.columns)

In [32]:
ei_bssi_m_r2.head()

,TIME,GEO,GEO_LABEL,INDIC,INDIC_LABEL,S_ADJ,S_ADJ_LABEL,Value
0,1980M01,EU28,European Union (current composition),BS-CCI-BAL,Construction confidence indicator,SA,"Seasonally adjusted data, not calendar adjusted data",-13.5
1,1980M01,EU28,European Union (current composition),BS-ESI-I,Economic sentiment indicator,SA,"Seasonally adjusted data, not calendar adjusted data",99.6
2,1980M01,EU28,European Union (current composition),BS-ICI-BAL,Industrial confidence indicator,SA,"Seasonally adjusted data, not calendar adjusted data",-7.3
6,1980M01,EA19,Euro area (19 countries),BS-CCI-BAL,Construction confidence indicator,SA,"Seasonally adjusted data, not calendar adjusted data",-13.4
7,1980M01,EA19,Euro area (19 countries),BS-ESI-I,Economic sentiment indicator,SA,"Seasonally adjusted data, not calendar adjusted data",104.0

In [30]:
ei_bssi_q_r2.transpose()

Empty DataFrame
Columns: []
Index: [TIME, GEO, GEO_LABEL, INDIC, INDIC_LABEL, S_ADJ, S_ADJ_LABEL, Value]

<br>

# $C$

In [38]:
namq_10_fcs[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

,NA_ITEM,NA_ITEM_LABEL
168,P311_S14,"Final consumption expenditure of households, durable goods"
169,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services"

In [62]:
namq_10_fcs[["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
168,CLV10_MEUR,"Chain linked volumes (2010), million euro"
350,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
892,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [9]:
namq_10_fcs.head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
168,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P311_S14,"Final consumption expenditure of households, durable goods",1000.2,1978Q1NO
169,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services",12082.9,1978Q1NO

>## $Cd$

In [ ]:
pd.read_csv("")

$Y$

In [54]:
namq_10_fcs[(namq_10_fcs.NA_ITEM == "P311_S14")&(namq_10_fcs.NA_ITEM == "P311_S14")]

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value
168,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P311_S14,"Final consumption expenditure of households, durable goods","1,000.2"
169,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services","12,082.9"

In [58]:
namq_10_fcs[namq_10_fcs.NA_ITEM == "P311_S14"].head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value
168,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P311_S14,"Final consumption expenditure of households, durable goods","1,000.2"
348,1978Q2,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P311_S14,"Final consumption expenditure of households, durable goods",942.3

In [ ]:
namq_10_fcs[namq_10_fcs.TIME == "P311_S14"]

>## $Cnd$

# $I$

In [29]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

      NA_ITEM                                        NA_ITEM_LABEL
270      B1GQ              Gross domestic product at market prices
14551  P3_S13  Final consumption expenditure of general government
14552     P5G                              Gross capital formation
14553    P51G                        Gross fixed capital formation
14556     P61                                     Exports of goods
14557     P62                                  Exports of services
14558     P71                                     Imports of goods
14559     P72                                  Imports of services

>## $Igfcf$

# $G$

In [30]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

      NA_ITEM                                        NA_ITEM_LABEL
270      B1GQ              Gross domestic product at market prices
14551  P3_S13  Final consumption expenditure of general government
14552     P5G                              Gross capital formation
14553    P51G                        Gross fixed capital formation
14556     P61                                     Exports of goods
14557     P62                                  Exports of services
14558     P71                                     Imports of goods
14559     P72                                  Imports of services

# $X$

>## $Xg$

>## $Xs$

In [31]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

      NA_ITEM                                        NA_ITEM_LABEL
270      B1GQ              Gross domestic product at market prices
14551  P3_S13  Final consumption expenditure of general government
14552     P5G                              Gross capital formation
14553    P51G                        Gross fixed capital formation
14556     P61                                     Exports of goods
14557     P62                                  Exports of services
14558     P71                                     Imports of goods
14559     P72                                  Imports of services

# $M$

>## $Mg$

>## $Ms$

In [32]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

      NA_ITEM                                        NA_ITEM_LABEL
270      B1GQ              Gross domestic product at market prices
14551  P3_S13  Final consumption expenditure of general government
14552     P5G                              Gross capital formation
14553    P51G                        Gross fixed capital formation
14556     P61                                     Exports of goods
14557     P62                                  Exports of services
14558     P71                                     Imports of goods
14559     P72                                  Imports of services

In [66]:
namq_10_gdp.head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value
270,1975Q1,FR,France,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,"237,727.0"
280,1975Q1,FR,France,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,-0.7

<br>

# $\textrm{Confidence Indicators}$

In [49]:
ei_bssi_m_r2[["INDIC","INDIC_LABEL"]].drop_duplicates()

              INDIC                        INDIC_LABEL
0        BS-CCI-BAL  Construction confidence indicator
1          BS-ESI-I       Economic sentiment indicator
2        BS-ICI-BAL    Industrial confidence indicator
82     BS-CSMCI-BAL      Consumer confidence indicator
9969     BS-RCI-BAL        Retail confidence indicator
19655    BS-SCI-BAL      Services Confidence Indicator

In [65]:
ei_bssi_m_r2.head(2)

,TIME,GEO,GEO_LABEL,INDIC,INDIC_LABEL,S_ADJ,S_ADJ_LABEL,Value
0,1980M01,EU28,European Union (current composition),BS-CCI-BAL,Construction confidence indicator,SA,"Seasonally adjusted data, not calendar adjusted data",-13.5
1,1980M01,EU28,European Union (current composition),BS-ESI-I,Economic sentiment indicator,SA,"Seasonally adjusted data, not calendar adjusted data",99.6