In [1]:
import os
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_rows', 20)

<br>

# Functions

In [2]:
def M2Q(df_in):
    d = {"M03":"Q1", "M06":"Q2", "M09":"Q3", "M12":"Q4"}
    df_out = df_in[df_in['TIME'].apply(lambda x: x[-3:] in list(d.keys()))].copy()
    df_out.TIME = df_out['TIME'].apply(lambda x: x[:4]+d[x[-3:]]).copy()
    return(df_out)

def Qp1(df_in):
    d = {"Q1":"Q2", "Q2":"Q3", "Q3":"Q4", "Q4":"Q1"}
    df_out = df_in.copy()
    df_out.TIME = df_out['TIME'].apply(lambda x: str(int(x[:-2])+1)+d[x[-2:]] if x[-1:] == "4" else x[:-2]+d[x[-2:]]).copy()
    return(df_out)

<br>

# Data

In [3]:
path = "./data/csvs/"
!sed -i "s/://g" ./data/*

In [4]:
#!head -n 1 data/sts_trtu_q_Label.csv

>## Quarterly

In [5]:
# DATASET Construction - quarterly data - index (2015 = 100) (NACE Rev. 2) [ei_isbu_q]
ei_isbu_q = pd.read_csv("./data/ei_isbu_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
ei_isbu_q_lag = Qp1(ei_isbu_q.copy())

# DATASET Final consumption aggregates [namq_10_fcs]
namq_10_fcs = pd.read_csv("./data/namq_10_fcs_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
namq_10_fcs_lag = Qp1(namq_10_fcs.copy())

# DATASET: GDP and main components  (output, expenditure and income) [namq_10_gdp]
namq_10_gdp = pd.read_csv("./data/namq_10_gdp_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
namq_10_gdp_lag = Qp1(namq_10_gdp.copy())

# DATASET Building permits - quarterly data [sts_cobp_q]
sts_cobp_q = pd.read_csv("./data/sts_cobp_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
sts_cobp_q_lag = Qp1(sts_cobp_q.copy())

# DATASET Production in construction - quarterly data [sts_copr_q]
sts_copr_q = pd.read_csv("./data/sts_copr_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
sts_copr_q_lag = Qp1(sts_copr_q.copy())

# DATASET Production in industry - quarterly data [sts_inpr_q]
sts_inpr_q = pd.read_csv("./data/sts_inpr_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
sts_inpr_q_lag = Qp1(sts_inpr_q.copy())

# DATASET Turnover in industry, total - quarterly data [sts_intv_q]
sts_intv_q = pd.read_csv("./data/sts_intv_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
sts_intv_q_lag = Qp1(sts_intv_q.copy())

# DATASET Turnover and volume of sales in wholesale and retail trade - quarterly data [sts_trtu_q]
sts_trtu_q = pd.read_csv("./data/sts_trtu_q_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna()
sts_trtu_q_lag = Qp1(sts_trtu_q.copy())

>## Monthly

In [6]:
# DATASET Euro-zone Business Climate Indicator - monthly data [ei_bsci_m_r2]
ei_bsci_m_r2_1 = M2Q(pd.read_csv("./data/ei_bsci_m_r2_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna())

# DATASET Sentiment indicators - monthly data [ei_bssi_m_r2]
ei_bssi_m_r2 = M2Q(pd.read_csv("./data/ei_bssi_m_r2_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna())

# DATASET Effective exchange rates indices - monthly data [ei_mfef_m]
ei_mfef_m = M2Q(pd.read_csv("./data/ei_mfef_m_1_Data.csv", low_memory=False, usecols=lambda x: x not in ["Flag and Footnotes"]).dropna())

**Dealing with ids:**

In [7]:
for df in [ei_isbu_q, ei_isbu_q_lag, namq_10_fcs, namq_10_fcs_lag, namq_10_gdp, 
           namq_10_gdp_lag, sts_cobp_q, sts_cobp_q_lag, sts_copr_q, sts_copr_q_lag, 
           sts_inpr_q, sts_inpr_q_lag, sts_intv_q, sts_intv_q_lag, sts_trtu_q, 
           sts_trtu_q_lag, ei_isbu_q, ei_isbu_q_lag, namq_10_fcs, namq_10_fcs_lag, 
           namq_10_gdp, namq_10_gdp_lag, sts_cobp_q, sts_cobp_q_lag, sts_copr_q, sts_copr_q_lag, 
           sts_inpr_q, sts_inpr_q_lag, sts_intv_q, sts_intv_q_lag, sts_trtu_q, sts_trtu_q_lag, ei_bsci_m_r2_1, ei_bssi_m_r2, ei_mfef_m]:
    df["ID"] = df["TIME"]+df["GEO"]
    df.Value = df.Value.replace(regex=r'[,]+', value='').astype(np.float)

># OECD

In [8]:
def OECD():
    GEO_LABEL2GEO = dict(zip(namq_10_gdp.GEO_LABEL.values, namq_10_gdp.GEO.values)); GEO_LABEL2GEO["Germany"] = "DE"
    df_in = pd.read_csv("data/KEI_13112018143436794_[v1-oecd].csv")
    df_in["GEO"] = df_in.Country.map(GEO_LABEL2GEO)
    df_in = df_in[df_in.GEO.notnull()]
    df_in["ID"] = df_in.TIME.str[:4]+df_in.TIME.str[-2:]+df_in.GEO
    return(df_in)

In [9]:
OECD = OECD()

In [10]:
OECD[["SUBJECT", "Subject"]].drop_duplicates()

       SUBJECT                                         Subject
115   LRHUTTTT  Harmonised unemployment rate all persons, s.a.
3580  ULQEUL01            Unit labour cost Total Economy, s.a.
4179  SLRTCR03               Passenger car registrations, s.a.

<br>

# $C$

>## $Cd$

In [11]:
namq_10_fcs.head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
168,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P311_S14,"Final consumption expenditure of households, durable goods",1000.2,1978Q1NO
169,1978Q1,NO,Norway,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services",12082.9,1978Q1NO

In [12]:
namq_10_fcs[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

,NA_ITEM,NA_ITEM_LABEL
168,P311_S14,"Final consumption expenditure of households, durable goods"
169,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services"

In [13]:
namq_10_fcs[["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
168,CLV10_MEUR,"Chain linked volumes (2010), million euro"
350,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
892,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [14]:
df_in = pd.DataFrame(sorted(list(set(namq_10_fcs.ID))), columns=["ID"])

###########################################################################################

# Chain linked volumes, percentage change compared to same period in previous year
var = "CLV_PCH_SM"
selec = namq_10_fcs[(namq_10_fcs.NA_ITEM=="P311_S14")&(namq_10_fcs.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Chain linked volumes, percentage change on previous period
var = "CLV_PCH_PRE"
selec = namq_10_fcs_lag[(namq_10_fcs_lag.NA_ITEM=="P311_S14")&(namq_10_fcs_lag.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Economic sentiment indicator
var = "BS-ESI-I"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Consumer confidence indicator
var = "BS-CSMCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Retail confidence indicator
var = "BS-RCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

###########################################################################################

# Dummies
countries = set(namq_10_fcs.GEO); countries.remove('PT')
for country in sorted(list(countries)):
    df_in[country] = (df_in.ID.str[-2:] == country).astype(int)

Cd = df_in.copy(); Cd.set_index("ID", inplace=True) 
del var, selec, df_in

###########################################################################################

# Save
Cd.to_csv("./Cd.csv")

###########################################################################################

# Regression
X = sm.add_constant(Cd.loc[:, Cd.columns != "CLV_PCH_SM"].copy())
y = Cd.loc[:, "CLV_PCH_SM"].copy()
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CLV_PCH_SM   R-squared:                       0.470
Model:                            OLS   Adj. R-squared:                  0.462
Method:                 Least Squares   F-statistic:                     62.03
Date:                Tue, 13 Nov 2018   Prob (F-statistic):          3.37e-211
Time:                        23:43:44   Log-Likelihood:                -5970.9
No. Observations:                1705   AIC:                         1.199e+04
Df Residuals:                    1680   BIC:                         1.213e+04
Df Model:                          24
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          -16.6517      4.559     -3.653      0.000     -25.593      -7.711
CLV_PCH_PRE      0.9058      0.045     19.977      0.000       0.817       0.995
BS-ESI-I         0.2022      0.039      5.148      0.000       0.125       0.279
BS-CSMCI-BAL     0.0531      0.031      1.703      0.089      -0.008       0.114
BS-RCI-BAL       0.1721      0.024      7.286      0.000       0.126       0.218
AT              -0.7576      1.381     -0.549      0.583      -3.466       1.950
BE              -0.4356      1.304     -0.334      0.738      -2.992       2.121
BG               4.9303      1.408      3.501      0.000       2.168       7.693
CZ              -0.2681      1.367     -0.196      0.845      -2.949       2.413
DE               1.5071      1.302      1.158      0.247      -1.046       4.060
DK              -2.4419      1.942     -1.257      0.209      -6.251       1.367
EE               1.9209      1.260      1.525      0.127      -0.550       4.392
EL               0.7655      1.378      0.555      0.579      -1.938       3.469
ES              -0.0442      1.251     -0.035      0.972      -2.497       2.409
FI              -0.0828      1.631     -0.051      0.959      -3.281       3.116
FR               1.5184      1.113      1.364      0.173      -0.665       3.702
IE           -2.853e-16   2.32e-16     -1.229      0.219   -7.41e-16     1.7e-16
IT              -0.4529      1.236     -0.366      0.714      -2.877       1.971
LT               6.7568      1.312      5.149      0.000       4.183       9.331
LU            2.482e-16   3.36e-16      0.739      0.460    -4.1e-16    9.07e-16
LV               6.4034      1.316      4.867      0.000       3.823       8.984
MT              -0.3266      1.767     -0.185      0.853      -3.793       3.140
NL              -2.9534      1.427     -2.069      0.039      -5.753      -0.154
NO           -2.274e-16   1.75e-16     -1.299      0.194   -5.71e-16    1.16e-16
PL               4.3325      1.312      3.302      0.001       1.759       6.906
SE              -0.4640      1.559     -0.298      0.766      -3.522       2.594
SI              -1.3503      1.305     -1.034      0.301      -3.911       1.210
UK               0.6292      1.288      0.489      0.625      -1.896       3.155
==============================================================================
Omnibus:                      318.490   Durbin-Watson:                   1.836
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5676.876
Skew:                           0.331   Prob(JB):                         0.00
Kurtosis:                      11.915   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.77e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

>## $Cnd$

In [15]:
namq_10_fcs.columns

Index(['TIME', 'GEO', 'GEO_LABEL', 'UNIT', 'UNIT_LABEL', 'S_ADJ',
       'S_ADJ_LABEL', 'NA_ITEM', 'NA_ITEM_LABEL', 'Value', 'ID'],
      dtype='object')

In [16]:
namq_10_fcs[["NA_ITEM", "NA_ITEM_LABEL"]].drop_duplicates()

,NA_ITEM,NA_ITEM_LABEL
168,P311_S14,"Final consumption expenditure of households, durable goods"
169,P312N_S14,"Final consumption expenditure of households, semi-durable goods, non-durable goods and services"

In [17]:
namq_10_fcs[["UNIT", "UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
168,CLV10_MEUR,"Chain linked volumes (2010), million euro"
350,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
892,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [18]:
df_in = pd.DataFrame(sorted(list(set(namq_10_fcs.ID))), columns=["ID"])

###########################################################################################

# Chain linked volumes, percentage change compared to same period in previous year
var = "CLV_PCH_SM"
selec = namq_10_fcs[(namq_10_fcs.NA_ITEM=="P312N_S14")&(namq_10_fcs.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Chain linked volumes, percentage change on previous period
var = "CLV_PCH_PRE"
selec = namq_10_fcs_lag[(namq_10_fcs_lag.NA_ITEM=="P312N_S14")&(namq_10_fcs_lag.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Economic sentiment indicator
var = "BS-ESI-I"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Consumer confidence indicator
var = "BS-CSMCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Retail confidence indicator
var = "BS-RCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

###########################################################################################

# Dummies
countries = set(namq_10_fcs.GEO); countries.remove('PT')
for country in sorted(list(countries)):
    df_in[country] = (df_in.ID.str[-2:] == country).astype(int)

Cnd = df_in.copy().set_index("ID") 
del var, selec, df_in

###########################################################################################

# Save
Cnd.to_csv("./Cnd.csv")

###########################################################################################

# Regression
X = sm.add_constant(Cnd.loc[:, Cnd.columns != "CLV_PCH_SM"].copy())
y = Cnd.loc[:, "CLV_PCH_SM"].copy()
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CLV_PCH_SM   R-squared:                       0.627
Model:                            OLS   Adj. R-squared:                  0.622
Method:                 Least Squares   F-statistic:                     117.6
Date:                Tue, 13 Nov 2018   Prob (F-statistic):               0.00
Time:                        23:43:46   Log-Likelihood:                -3516.4
No. Observations:                1705   AIC:                             7083.
Df Residuals:                    1680   BIC:                             7219.
Df Model:                          24
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -3.3862      1.079     -3.137      0.002      -5.503      -1.269
CLV_PCH_PRE      1.4810      0.049     30.502      0.000       1.386       1.576
BS-ESI-I         0.0500      0.009      5.359      0.000       0.032       0.068
BS-CSMCI-BAL     0.0179      0.007      2.423      0.015       0.003       0.032
BS-RCI-BAL       0.0427      0.006      7.588      0.000       0.032       0.054
AT              -0.5316      0.327     -1.624      0.105      -1.174       0.111
BE              -0.6845      0.309     -2.213      0.027      -1.291      -0.078
BG               0.8470      0.334      2.536      0.011       0.192       1.502
CZ              -1.0855      0.325     -3.341      0.001      -1.723      -0.448
DE              -0.1387      0.308     -0.450      0.653      -0.744       0.466
DK              -1.6967      0.461     -3.678      0.000      -2.602      -0.792
EE               0.7947      0.299      2.661      0.008       0.209       1.381
EL              -0.0933      0.327     -0.286      0.775      -0.734       0.548
ES              -0.1738      0.296     -0.586      0.558      -0.755       0.408
FI              -0.7065      0.387     -1.827      0.068      -1.465       0.052
FR               0.0763      0.264      0.289      0.772      -0.441       0.594
IE            9.824e-19   4.18e-17      0.024      0.981    -8.1e-17    8.29e-17
IT              -0.7586      0.293     -2.586      0.010      -1.334      -0.183
LT               0.7299      0.310      2.351      0.019       0.121       1.339
LU           -4.218e-17    4.1e-17     -1.028      0.304   -1.23e-16    3.83e-17
LV               0.6926      0.311      2.223      0.026       0.082       1.303
MT               0.2077      0.419      0.496      0.620      -0.614       1.029
NL              -1.3214      0.339     -3.894      0.000      -1.987      -0.656
NO           -1.304e-17   4.01e-18     -3.256      0.001   -2.09e-17   -5.18e-18
PL               0.9447      0.311      3.038      0.002       0.335       1.555
SE              -1.1216      0.370     -3.029      0.002      -1.848      -0.395
SI              -0.7388      0.310     -2.385      0.017      -1.346      -0.131
UK              -0.4920      0.305     -1.611      0.107      -1.091       0.107
==============================================================================
Omnibus:                      340.058   Durbin-Watson:                   1.729
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7202.790
Skew:                          -0.336   Prob(JB):                         0.00
Kurtosis:                      13.047   Cond. No.                     1.00e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.77e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

<br>

# $I$

>## $Igfcf$

In [19]:
namq_10_gdp.head(2)

,TIME,TIME_LABEL,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
324,1975Q1,1975Q1,FR,France,CP_MEUR,"Current prices, million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,67383.3,1975Q1FR
333,1975Q1,1975Q1,FR,France,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,237727.0,1975Q1FR

In [20]:
namq_10_gdp[namq_10_gdp.NA_ITEM == "P51G"][["NA_ITEM","NA_ITEM_LABEL"]].head(1)

      NA_ITEM                  NA_ITEM_LABEL
17463    P51G  Gross fixed capital formation

In [21]:
namq_10_gdp[namq_10_gdp.NA_ITEM == "P51G"][["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
17463,CP_MEUR,"Current prices, million euro"
17472,CLV10_MEUR,"Chain linked volumes (2010), million euro"
18849,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
22962,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [22]:
df_in = pd.DataFrame(sorted(list(set(namq_10_gdp.ID))), columns=["ID"])

###########################################################################################

# Chain linked volumes, percentage change compared to same period in previous year
var = "CLV_PCH_SM"
selec = namq_10_gdp[(namq_10_gdp.NA_ITEM=="P51G")&(namq_10_gdp.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Chain linked volumes, percentage change on previous period
var = "CLV_PCH_PRE"
selec = namq_10_gdp_lag[(namq_10_gdp_lag.NA_ITEM=="P51G")&(namq_10_gdp_lag.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Economic sentiment indicator
var = "BS-ESI-I"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Consumer confidence indicator
var = "BS-CSMCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Retail confidence indicator
var = "BS-RCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

###########################################################################################

# Dummies
countries = set(namq_10_gdp.GEO); countries.remove('PT')
for country in sorted(list(countries)):
    df_in[country] = (df_in.ID.str[-2:] == country).astype(int)

Igfcf = df_in.copy().set_index("ID") 
del var, selec, df_in

###########################################################################################

# Save
Igfcf.to_csv("./Igfcf.csv")

###########################################################################################

# Regression
X = sm.add_constant(Igfcf.loc[:, Igfcf.columns != "CLV_PCH_SM"].copy())
y = Igfcf.loc[:, "CLV_PCH_SM"].copy()
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CLV_PCH_SM   R-squared:                       0.281
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     27.17
Date:                Tue, 13 Nov 2018   Prob (F-statistic):          3.11e-118
Time:                        23:43:50   Log-Likelihood:                -7485.2
No. Observations:                1974   AIC:                         1.503e+04
Df Residuals:                    1945   BIC:                         1.519e+04
Df Model:                          28
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          -43.8957      5.750     -7.635      0.000     -55.172     -32.620
CLV_PCH_PRE      0.0752      0.023      3.283      0.001       0.030       0.120
BS-ESI-I         0.4532      0.050      9.116      0.000       0.356       0.551
BS-CSMCI-BAL     0.0039      0.037      0.104      0.917      -0.069       0.077
BS-RCI-BAL       0.1863      0.030      6.192      0.000       0.127       0.245
AT               0.7728      1.799      0.430      0.668      -2.755       4.301
BE               1.0045      1.716      0.585      0.558      -2.361       4.370
BG               1.0844      1.855      0.584      0.559      -2.554       4.723
CH           -1.869e-14   5.17e-14     -0.361      0.718    -1.2e-13    8.27e-14
CY               5.8311      1.785      3.267      0.001       2.331       9.331
CZ              -3.0524      1.813     -1.683      0.092      -6.608       0.504
DE               3.1911      1.704      1.873      0.061      -0.150       6.533
DK              -0.2991      2.525     -0.118      0.906      -5.251       4.653
EE               4.1210      1.675      2.460      0.014       0.836       7.406
EL              -0.5019      1.797     -0.279      0.780      -4.025       3.022
ES               0.9929      1.648      0.603      0.547      -2.238       4.224
FI               0.2329      2.081      0.112      0.911      -3.848       4.313
FR               2.1342      1.484      1.438      0.151      -0.777       5.045
HR              -1.3738      2.058     -0.667      0.505      -5.411       2.663
HU               2.6695      1.644      1.623      0.105      -0.556       5.895
IE             1.06e-15   5.73e-16      1.848      0.065   -6.47e-17    2.18e-15
IT              -0.2802      1.647     -0.170      0.865      -3.511       2.950
LT               3.2794      1.746      1.878      0.061      -0.146       6.704
LU           -3.663e-16   3.21e-16     -1.143      0.253   -9.95e-16    2.62e-16
LV               1.5823      1.753      0.903      0.367      -1.855       5.020
MT               2.8886      2.351      1.229      0.219      -1.722       7.499
NL              -0.6833      1.864     -0.367      0.714      -4.339       2.973
NO           -9.395e-17   1.03e-16     -0.913      0.361   -2.96e-16    1.08e-16
PL               3.7887      1.748      2.167      0.030       0.361       7.217
RO               3.6523      1.793      2.036      0.042       0.135       7.170
RS                    0          0        nan        nan           0           0
SE              -1.2471      2.009     -0.621      0.535      -5.188       2.693
SI              -2.9044      1.739     -1.670      0.095      -6.315       0.506
UK              -0.7718      1.701     -0.454      0.650      -4.107       2.563
==============================================================================
Omnibus:                     2301.793   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           893196.347
Skew:                           5.435   Prob(JB):                         0.00
Kurtosis:                     106.641   Cond. No.                     3.56e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.64e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<br>

# $G$

In [23]:
namq_10_gdp.head(2)

,TIME,TIME_LABEL,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
324,1975Q1,1975Q1,FR,France,CP_MEUR,"Current prices, million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,67383.3,1975Q1FR
333,1975Q1,1975Q1,FR,France,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,237727.0,1975Q1FR

In [24]:
namq_10_gdp[namq_10_gdp.NA_ITEM == "P3_S13"][["NA_ITEM","NA_ITEM_LABEL"]].head(1)

      NA_ITEM                                        NA_ITEM_LABEL
17461  P3_S13  Final consumption expenditure of general government

In [25]:
namq_10_gdp[namq_10_gdp.NA_ITEM == "P3_S13"][["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
17461,CP_MEUR,"Current prices, million euro"
17470,CLV10_MEUR,"Chain linked volumes (2010), million euro"
18847,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
22960,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

<br>

# $X$

In [21]:
namq_10_gdp.head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
270,1975Q1,FR,France,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,237727.0,1975Q1FR
280,1975Q1,FR,France,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,-0.7,1975Q1FR

In [35]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

,NA_ITEM,NA_ITEM_LABEL
324,B1GQ,Gross domestic product at market prices
17461,P3_S13,Final consumption expenditure of general government
17462,P5G,Gross capital formation
17463,P51G,Gross fixed capital formation
17465,P52,Changes in inventories
17466,P53,Acquisitions less disposals of valuables
17467,P6,Exports of goods and services
17468,P7,Imports of goods and services
27688,P52_P53,Changes in inventories and acquisitions less disposals of valuables

In [36]:
namq_10_gdp[["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
324,CP_MEUR,"Current prices, million euro"
333,CLV10_MEUR,"Chain linked volumes (2010), million euro"
342,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
351,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [22]:
df_in = pd.DataFrame(sorted(list(set(namq_10_gdp.ID))), columns=["ID"])

###########################################################################################

# Chain linked volumes, percentage change compared to same period in previous year
var = "CLV_PCH_SM"
selec = namq_10_gdp[(namq_10_gdp.NA_ITEM=="P51G")&(namq_10_gdp.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Chain linked volumes, percentage change on previous period
var = "CLV_PCH_PRE"
selec = namq_10_gdp_lag[(namq_10_gdp_lag.NA_ITEM=="P51G")&(namq_10_gdp_lag.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Economic sentiment indicator
var = "BS-ESI-I"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Consumer confidence indicator
var = "BS-CSMCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Retail confidence indicator
var = "BS-RCI-BAL"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

###########################################################################################

# Dummies
countries = set(namq_10_gdp.GEO); countries.remove('PT')
for country in sorted(list(countries)):
    df_in[country] = (df_in.ID.str[-2:] == country).astype(int)

Igfcf = df_in.copy().set_index("ID") 
del var, selec, df_in

###########################################################################################

# Save
Igfcf.to_csv("./Igfcf.csv")

###########################################################################################

# Regression
X = sm.add_constant(Igfcf.loc[:, Igfcf.columns != "CLV_PCH_SM"].copy())
y = Igfcf.loc[:, "CLV_PCH_SM"].copy()
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             CLV_PCH_SM   R-squared:                       0.281
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     27.17
Date:                Tue, 13 Nov 2018   Prob (F-statistic):          3.11e-118
Time:                        23:43:50   Log-Likelihood:                -7485.2
No. Observations:                1974   AIC:                         1.503e+04
Df Residuals:                    1945   BIC:                         1.519e+04
Df Model:                          28
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const          -43.8957      5.750     -7.635      0.000     -55.172     -32.620
CLV_PCH_PRE      0.0752      0.023      3.283      0.001       0.030       0.120
BS-ESI-I         0.4532      0.050      9.116      0.000       0.356       0.551
BS-CSMCI-BAL     0.0039      0.037      0.104      0.917      -0.069       0.077
BS-RCI-BAL       0.1863      0.030      6.192      0.000       0.127       0.245
AT               0.7728      1.799      0.430      0.668      -2.755       4.301
BE               1.0045      1.716      0.585      0.558      -2.361       4.370
BG               1.0844      1.855      0.584      0.559      -2.554       4.723
CH           -1.869e-14   5.17e-14     -0.361      0.718    -1.2e-13    8.27e-14
CY               5.8311      1.785      3.267      0.001       2.331       9.331
CZ              -3.0524      1.813     -1.683      0.092      -6.608       0.504
DE               3.1911      1.704      1.873      0.061      -0.150       6.533
DK              -0.2991      2.525     -0.118      0.906      -5.251       4.653
EE               4.1210      1.675      2.460      0.014       0.836       7.406
EL              -0.5019      1.797     -0.279      0.780      -4.025       3.022
ES               0.9929      1.648      0.603      0.547      -2.238       4.224
FI               0.2329      2.081      0.112      0.911      -3.848       4.313
FR               2.1342      1.484      1.438      0.151      -0.777       5.045
HR              -1.3738      2.058     -0.667      0.505      -5.411       2.663
HU               2.6695      1.644      1.623      0.105      -0.556       5.895
IE             1.06e-15   5.73e-16      1.848      0.065   -6.47e-17    2.18e-15
IT              -0.2802      1.647     -0.170      0.865      -3.511       2.950
LT               3.2794      1.746      1.878      0.061      -0.146       6.704
LU           -3.663e-16   3.21e-16     -1.143      0.253   -9.95e-16    2.62e-16
LV               1.5823      1.753      0.903      0.367      -1.855       5.020
MT               2.8886      2.351      1.229      0.219      -1.722       7.499
NL              -0.6833      1.864     -0.367      0.714      -4.339       2.973
NO           -9.395e-17   1.03e-16     -0.913      0.361   -2.96e-16    1.08e-16
PL               3.7887      1.748      2.167      0.030       0.361       7.217
RO               3.6523      1.793      2.036      0.042       0.135       7.170
RS                    0          0        nan        nan           0           0
SE              -1.2471      2.009     -0.621      0.535      -5.188       2.693
SI              -2.9044      1.739     -1.670      0.095      -6.315       0.506
UK              -0.7718      1.701     -0.454      0.650      -4.107       2.563
==============================================================================
Omnibus:                     2301.793   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           893196.347
Skew:                           5.435   Prob(JB):                         0.00
Kurtosis:                     106.641   Cond. No.                     3.56e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.64e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/boturon/miniconda3/envs/phd/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<br>

# $M$

In [11]:
namq_10_gdp.head(2)

,TIME,TIME_LABEL,GEO,GEO_LABEL,UNIT,UNIT_LABEL,S_ADJ,S_ADJ_LABEL,NA_ITEM,NA_ITEM_LABEL,Value,ID
324,1975Q1,1975Q1,FR,France,CP_MEUR,"Current prices, million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,67383.3,1975Q1FR
333,1975Q1,1975Q1,FR,France,CLV10_MEUR,"Chain linked volumes (2010), million euro",SCA,Seasonally and calendar adjusted data,B1GQ,Gross domestic product at market prices,237727.0,1975Q1FR

In [12]:
namq_10_gdp[["NA_ITEM","NA_ITEM_LABEL"]].drop_duplicates()

,NA_ITEM,NA_ITEM_LABEL
324,B1GQ,Gross domestic product at market prices
17461,P3_S13,Final consumption expenditure of general government
17462,P5G,Gross capital formation
17463,P51G,Gross fixed capital formation
17465,P52,Changes in inventories
17466,P53,Acquisitions less disposals of valuables
17467,P6,Exports of goods and services
17468,P7,Imports of goods and services
27688,P52_P53,Changes in inventories and acquisitions less disposals of valuables

In [13]:
namq_10_gdp[["UNIT","UNIT_LABEL"]].drop_duplicates()

,UNIT,UNIT_LABEL
324,CP_MEUR,"Current prices, million euro"
333,CLV10_MEUR,"Chain linked volumes (2010), million euro"
342,CLV_PCH_PRE,"Chain linked volumes, percentage change on previous period"
351,CLV_PCH_SM,"Chain linked volumes, percentage change compared to same period in previous year"

In [14]:
ei_mfef_m.head(2)

,TIME,GEO,GEO_LABEL,UNIT,UNIT_LABEL,INDIC,INDIC_LABEL,Value,ID
176,1999Q1,EA19,Euro area (19 countries),I10,"Index, 2010=100",REER37CPI,Real Effective Exchange Rate (deflator consumer price indices - 37 trading partners),95.44,1999Q1EA19
177,1999Q1,EA19,Euro area (19 countries),I10,"Index, 2010=100",REER42CPI,Real Effective Exchange Rate (deflator consumer price indices - 42 trading partners),100.18,1999Q1EA19

In [15]:
ei_mfef_m[["INDIC","INDIC_LABEL"]].drop_duplicates()

,INDIC,INDIC_LABEL
176,REER37CPI,Real Effective Exchange Rate (deflator consumer price indices - 37 trading partners)
177,REER42CPI,Real Effective Exchange Rate (deflator consumer price indices - 42 trading partners)

In [16]:
ei_mfef_m[["UNIT","UNIT_LABEL"]].drop_duplicates()

    UNIT       UNIT_LABEL
176  I10  Index, 2010=100

In [22]:
df_in = pd.DataFrame(sorted(list(set(namq_10_gdp.ID))), columns=["ID"])

###########################################################################################

# Chain linked volumes, percentage change compared to same period in previous year
var = "CLV_PCH_SM"
selec = namq_10_gdp[(namq_10_gdp.NA_ITEM=="P7")&(namq_10_gdp.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", "M"]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Cd
selec = namq_10_fcs[(namq_10_fcs.NA_ITEM=="P311_S14")&(namq_10_fcs.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", "Cd"]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Cnd
selec = namq_10_fcs[(namq_10_fcs.NA_ITEM=="P312N_S14")&(namq_10_fcs.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", "Cnd"]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# G
selec = namq_10_gdp[(namq_10_gdp.NA_ITEM=="P3_S13")&(namq_10_gdp.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", "G"]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Igfcf
selec = namq_10_gdp[(namq_10_gdp.NA_ITEM=="P51G")&(namq_10_gdp.UNIT==var)][["ID", "Value"]]; selec.columns = ["ID", "Igfcf"]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Economic sentiment indicator
var = "BS-ESI-I"
selec = ei_bssi_m_r2[ei_bssi_m_r2.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

# Real Effective Exchange Rate (deflator consumer price indices - 42 trading partners)
var = "REER42CPI"
selec = ei_mfef_m[ei_mfef_m.INDIC==var][["ID", "Value"]]; selec.columns = ["ID", var]
df_in = pd.merge(df_in, selec, on='ID', how="inner")

###########################################################################################

# Dummies
countries = set(namq_10_gdp.GEO); countries.remove('PT')
for country in sorted(list(countries)):
    df_in[country] = (df_in.ID.str[-2:] == country).astype(int)

M = df_in.copy().set_index("ID") 
del var, selec, df_in

###########################################################################################

# Save
M.to_csv("./M.csv")

###########################################################################################

# Regression
X = sm.add_constant(M.loc[:, M.columns != "M"].copy())
y = M.loc[:, "M"].copy()
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      M   R-squared:                       0.556
Model:                            OLS   Adj. R-squared:                  0.549
Method:                 Least Squares   F-statistic:                     77.53
Date:                Wed, 14 Nov 2018   Prob (F-statistic):          2.23e-271
Time:                        00:33:14   Log-Likelihood:                -5379.3
No. Observations:                1701   AIC:                         1.081e+04
Df Residuals:                    1673   BIC:                         1.097e+04
Df Model:                          27
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -23.5341      3.005     -7.833      0.000     -29.427     -17.641
Cd             0.1450      0.017      8.468      0.000       0.111       0.179
Cnd            0.2960      0.068      4.369      0.000       0.163       0.429
G             -0.0756      0.056     -1.360      0.174      -0.185       0.033
Igfcf          0.2388      0.016     14.941      0.000       0.207       0.270
BS-ESI-I       0.2854      0.019     15.266      0.000       0.249       0.322
REER42CPI     -0.0184      0.024     -0.757      0.449      -0.066       0.029
AT            -0.6342      0.927     -0.684      0.494      -2.451       1.183
BE            -0.7234      0.926     -0.781      0.435      -2.540       1.093
BG            -0.7386      0.958     -0.771      0.441      -2.618       1.141
CH          9.747e-16   6.29e-16      1.548      0.122    -2.6e-16    2.21e-15
CY         -2.484e-16   2.26e-16     -1.101      0.271   -6.91e-16    1.94e-16
CZ             1.6942      0.959      1.766      0.078      -0.187       3.576
DE             0.4427      0.927      0.478      0.633      -1.375       2.260
DK            -0.4107      0.927     -0.443      0.658      -2.229       1.408
EE            -0.0904      0.930     -0.097      0.923      -1.915       1.734
EL            -0.1591      0.930     -0.171      0.864      -1.984       1.665
ES            -0.8675      0.938     -0.925      0.355      -2.706       0.972
FI            -0.8905      0.927     -0.960      0.337      -2.710       0.929
FR            -1.0670      0.923     -1.156      0.248      -2.877       0.743
HR          3.901e-14   2.32e-14      1.685      0.092   -6.41e-15    8.44e-14
HU          -1.49e-14   1.07e-14     -1.398      0.162   -3.58e-14       6e-15
IE           8.22e-14   5.28e-14      1.557      0.120   -2.13e-14    1.86e-13
IT            -1.3438      0.927     -1.450      0.147      -3.162       0.474
LT             0.5870      0.939      0.625      0.532      -1.255       2.429
LU             1.8263      0.936      1.951      0.051      -0.009       3.662
LV            -2.2661      0.941     -2.409      0.016      -4.111      -0.421
MT            -1.3920      0.986     -1.412      0.158      -3.326       0.542
NL             0.0463      0.929      0.050      0.960      -1.775       1.868
NO         -5.316e-17   1.45e-16     -0.366      0.714   -3.38e-16    2.31e-16
PL             1.5501      0.940      1.650      0.099      -0.293       3.393
RO          2.482e-17   7.25e-17      0.342      0.732   -1.17e-16    1.67e-16
RS                  0          0        nan        nan           0           0
SE            -2.2825      0.929     -2.457      0.014      -4.105      -0.460
SI             0.5209      0.926      0.563      0.574      -1.294       2.336
UK            -1.2281      0.997     -1.232      0.218      -3.184       0.727
==============================================================================
Omnibus:                      155.293   Durbin-Watson:                   1.685
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              662.277
Skew:                           0.339   Prob(JB):                    1.54e-144
Kurtosis:                       5.981   Cond. No.                     7.72e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.72e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

<br>

<br>

# Prepare to $\textbf{R}$

In [103]:
# namq_10_gdp
selec = namq_10_gdp[(namq_10_gdp.GEO == "PT") & (namq_10_gdp.UNIT == "CLV10_MEUR")]
for item in list(set(selec.NA_ITEM)):
    selec[selec.NA_ITEM==item][["TIME", "Value"]].to_csv("R/"+item+".csv", index=False)
##

# namq_10_fcs