In [5]:
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import pandas as pd
import itertools
from scipy import stats

In [3]:
#!sed -i "s/\,/\./g" /home/boturon/Desktop/Stocks.csv
!sed -i "s/\\t//g" ~/Desktop/AA/Thesis_AA.csv

In [6]:
#data = pd.read_csv("/home/boturon/Desktop/Stocks.csv", sep=";", index_col=0)
#data = pd.read_excel("./Thesis_AA (1).xlsx", sheet_name="offline")
data = pd.read_csv("~/Desktop/AA/Thesis_AA.csv", index_col=0)
data.index = pd.to_datetime(data.index)
data[data==" "] = np.nan
data = data.dropna(axis=1, how='all')
data = data.astype(np.float)

In [7]:
data.head(10)

,ML FP Equity,SIPH FP Equity,GJTL IJ Equity,CBT US Equity,OEC US Equity,BEKB BB Equity,CAMP US Equity,7722 JP Equity,ANA SM Equity,1685 HK Equity,...,MG CN Equity,MRF IN Equity,002350 KS Equity,NRE1V FH Equity,5110 JP Equity,TEN US Equity,6995 JP Equity,5105 JP Equity,FR FP Equity,5101 JP Equity
2000-01-03,38.4468,NaN,NaN,11.4441,NaN,18.5000,27.3750,NaN,57.00,NaN,...,NaN,2362.70,NaN,3.940,NaN,10.0000,NaN,NaN,25.4000,NaN
2000-01-04,37.9540,NaN,975.0,11.1213,NaN,17.3667,29.0000,NaN,53.00,NaN,...,13.1719,2469.90,640.0,3.900,482.0,10.8750,993.0,244.0,24.3667,NaN
2000-01-05,37.4902,NaN,950.0,11.4083,NaN,16.4900,29.5000,NaN,50.75,NaN,...,13.1505,2339.10,680.0,3.800,494.0,10.3750,959.0,252.0,24.6333,428.0
2000-01-06,38.6980,NaN,975.0,11.6953,NaN,17.4167,26.6875,NaN,NaN,NaN,...,13.5155,2524.55,631.0,NaN,497.0,10.3750,920.0,248.0,26.3000,414.0
2000-01-07,40.0507,NaN,NaN,11.6235,NaN,18.1667,26.5625,NaN,52.40,NaN,...,14.4924,2452.00,650.0,3.800,497.0,10.8125,920.0,248.0,27.3333,428.0
2000-01-10,40.1957,3.059,NaN,11.9464,NaN,18.8500,28.1250,NaN,52.50,NaN,...,14.6319,2648.15,680.0,3.900,NaN,10.6250,NaN,NaN,26.9667,NaN
2000-01-11,39.1811,2.762,1000.0,11.8029,NaN,18.0667,26.8750,NaN,51.00,NaN,...,13.8697,2634.75,782.0,3.850,500.0,10.5625,960.0,254.0,26.0500,414.0
2000-01-12,38.6980,NaN,1000.0,11.8388,NaN,17.6667,27.5000,NaN,50.35,NaN,...,14.3528,2665.00,749.0,3.800,485.0,10.5000,960.0,248.0,25.1667,394.0
2000-01-13,38.6593,3.389,1050.0,12.1258,NaN,18.3333,28.2500,NaN,48.90,NaN,...,14.2777,2599.00,780.0,3.721,506.0,10.0625,954.0,258.0,24.6000,410.0
2000-01-14,39.4227,NaN,1025.0,13.2020,NaN,18.0000,28.7500,NaN,48.92,NaN,...,14.1274,2489.15,730.0,3.800,516.0,9.9375,957.0,262.0,25.5333,430.0

In [8]:
data.to_csv("~/Desktop/AA/data.csv", index=False)

<br>

In [9]:
returns = np.log(data).diff().dropna(axis=0)

In [10]:
returns.head(10)

,ML FP Equity,SIPH FP Equity,GJTL IJ Equity,CBT US Equity,OEC US Equity,BEKB BB Equity,CAMP US Equity,7722 JP Equity,ANA SM Equity,1685 HK Equity,...,MG CN Equity,MRF IN Equity,002350 KS Equity,NRE1V FH Equity,5110 JP Equity,TEN US Equity,6995 JP Equity,5105 JP Equity,FR FP Equity,5101 JP Equity
2015-11-02,0.015226,0.006485,0.000000,-0.001950,0.044185,0.012880,0.009449,0.000000,0.018774,0.000000,...,0.016539,-0.009925,-0.007605,-0.015559,-0.021194,0.003704,-0.019818,-0.005077,0.012360,-0.018547
2016-02-25,-0.001692,0.003992,-0.002064,0.017760,0.001601,0.020718,-0.015828,-0.000833,0.016958,0.032203,...,0.010237,-0.024304,-0.014815,0.004672,0.009044,0.015773,0.014389,0.014193,0.005784,0.003224
2016-02-26,0.002416,-0.003992,-0.004141,0.017228,0.022935,0.048509,0.009076,-0.002503,-0.000439,0.038001,...,0.070419,0.012240,0.007435,-0.077172,-0.001802,0.008341,-0.003035,-0.003529,0.019584,-0.017862
2016-03-04,0.002767,0.052851,0.036040,-0.004465,0.076384,0.041966,0.016707,0.001665,-0.016457,0.018472,...,0.013438,0.004705,0.000000,-0.022571,0.003569,-0.012734,0.003457,0.026725,0.000743,0.011185
2016-04-27,0.015916,-0.030499,0.014599,0.009209,0.005662,0.004311,0.009826,0.001599,0.013184,-0.021835,...,-0.011345,-0.026518,0.000000,0.017656,0.005705,-0.046827,0.020145,0.022748,0.038029,0.013272
2016-04-28,-0.020196,0.066202,-0.014599,-0.010618,0.044851,0.010374,-0.005884,-0.005607,0.010167,-0.022322,...,-0.015018,-0.019541,-0.017153,0.004289,-0.033549,-0.028285,-0.012903,-0.031042,0.016723,-0.047776
2016-05-11,-0.005804,-0.027250,-0.006826,-0.009828,-0.010519,-0.047326,-0.003398,0.000815,-0.015753,0.041318,...,-0.020023,-0.014664,0.011050,0.005909,-0.027156,-0.001729,0.015967,-0.008003,-0.005746,-0.006336
2016-05-16,-0.008956,0.000548,0.014389,0.008931,0.003400,0.006584,0.002070,-0.184818,-0.033317,0.010309,...,0.004248,0.003760,-0.021899,-0.000311,-0.006473,0.020055,-0.005241,-0.216026,-0.028191,-0.076064
2016-07-14,0.018498,-0.014275,0.052644,0.011784,-0.009066,-0.004710,-0.006231,0.010708,0.005834,0.003295,...,0.011998,0.002237,-0.011257,0.021441,0.015945,0.008798,-0.011719,0.000841,0.021491,0.000728
2016-07-21,-0.007437,0.010050,0.062035,-0.004446,-0.003608,-0.030524,0.006381,0.016298,-0.003174,-0.012579,...,0.015867,-0.026635,-0.011472,-0.003262,0.014408,0.036919,0.027763,-0.030305,0.001657,0.019887

In [11]:
returns.to_csv("~/Desktop/AA/data_returns.csv", index=False)

<br>

In [12]:
betas = pd.DataFrame(columns=["E1", "E2", "beta", "pvalue", "intercept", "rvalue", "stderr"])
betas["E1"], betas["E2"] = zip(*itertools.combinations(returns.columns, 2))
for index, row in betas.iterrows():
    row["beta"], row["intercept"], row["rvalue"], row["pvalue"], row["stderr"] = stats.linregress(returns[row["E2"]],returns[row["E1"]])

In [13]:
betas[betas.pvalue<0.05].head(20)

,E1,E2,beta,pvalue,intercept,rvalue,stderr
2,ML FP Equity,CBT US Equity,0.108027,0.0202068,0.000691415,0.162523,0.0461454
3,ML FP Equity,OEC US Equity,0.082266,0.0317871,0.000631732,0.150394,0.0380494
4,ML FP Equity,BEKB BB Equity,0.0705443,0.0299087,0.000935659,0.15207,0.0322597
7,ML FP Equity,ANA SM Equity,0.207232,0.000835815,0.000680773,0.232116,0.061101
9,ML FP Equity,SOP FP Equity,0.214124,8.50471e-05,0.000329261,0.271614,0.0533822
11,ML FP Equity,ATO FP Equity,0.254725,9.98144e-06,0.000400602,0.303816,0.0562024
12,ML FP Equity,ALFA SS Equity,0.302461,4.29003e-07,0.000328539,0.345147,0.057869
14,ML FP Equity,CAP FP Equity,0.23788,4.23827e-06,0.000357762,0.315685,0.0503074
15,ML FP Equity,DSY FP Equity,0.215763,0.000483699,0.000577779,0.242164,0.0608231
20,ML FP Equity,004800 KS Equity,0.108042,0.00236326,0.00082787,0.211747,0.0350864
23,ML FP Equity,VOW GR Equity,0.2754,1.25126e-07,0.000406566,0.359823,0.0502446
24,ML FP Equity,DAI GR Equity,0.410895,2.22372e-08,0.000420606,0.379235,0.0705391
25,ML FP Equity,BMW GR Equity,0.456139,2.95626e-11,0.000263104,0.443821,0.0648003
27,ML FP Equity,F US Equity,0.163435,0.00201909,0.00100078,0.21495,0.0522466
28,ML FP Equity,GM US Equity,0.161562,0.000970823,0.000821873,0.22929,0.048256
29,ML FP Equity,FCAU US Equity,0.0949439,0.00313068,0.000351284,0.205908,0.0317476
30,ML FP Equity,RNO FP Equity,0.290212,7.8228e-09,0.000488738,0.390385,0.048155
32,ML FP Equity,UG FP Equity,0.231512,6.68141e-08,0.000176839,0.367022,0.0412847
37,ML FP Equity,TTMT IN Equity,0.095174,0.0211549,0.000671851,0.16133,0.040964
42,ML FP Equity,AIR FP Equity,0.282631,2.7741e-08,0.000275778,0.37682,0.0488828

In [14]:
betas[betas.pvalue<0.05].to_csv("./data_betas.csv", index=False)

<br>